body {
    background-image: url('./assets/hungry-dragon-bg.png');
    background-size: cover;
}

h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    color: orange;
}

#gameContainer {
    text-align: center;
}

#gameBoard {
    border: 5px solid black;
}

#scoreText {
    font-family: Modak;
    font-size: 80px;
}

#resetBtn {
    font-family: Modak;
    font-size: 25px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 20px;
    cursor: pointer;
}